<section>
  <div class="container">
    <div class="grid align-items-center pb-5">
      <div class="md:col-6">
        @if (productDetails) {
  <figure>
    <img
      class="w-full"
      [src]="productDetails.images[0]"
      [alt]="productDetails.title"
    />
  </figure>
}
      </div>
      <div class="md:col-6">
        <p class="font-medium font-bold mt-1 mb-3 text-color-secondary">
          {{ productDetails.title }}
        </p>

        <p class="font-medium text-sm my-1">
          {{ productDetails.description }}
        </p>

        <div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">brand:</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.brand }}
            </p>
          </div>
          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">Stock :</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.stock }}
            </p>
          </div>

          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">category :</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.category }}
            </p>
          </div>

          <div
            class="flex align-items-center justify-content-between capitalize"
          >
            <p class="text-color-secondary my-1">Price :</p>
            <p class="font-bold text-orange-500 my-1">
              {{ productDetails.price }} $
            </p>
          </div>
        </div>
        @if (!productDetails.isAddedToCart) {
        <p-button
          (click)="
            addToCart(productDetails); productDetails.isAddedToCart = true
          "
          label="add to cart"
          severity="warning"
          styleClass="my-2 uppercase w-full"
          icon="pi pi-cart-plus text-2xl"
          iconPos="right"
        />

        } @if (productDetails.isAddedToCart) {
        <p-button
          [routerLink]="['/cart']"
          label="go to cart"
          severity="contrast"
          styleClass="my-2 uppercase w-full"
          icon="pi pi-shopping-cart text-2xl"
          iconPos="right"
        />
        }
      </div>
    </div>
  </div>
</section>
