<div class="card">
  <p-menubar [model]="items">

    <!-- Logo -->
    <ng-template pTemplate="start">
      <figure class="my-0 mx-2">
        <img
          class="w-2rem"
          src="./assets/logo.svg"
          alt="logo"
        />
      </figure>
    </ng-template>

    <!-- Menu Items -->
    <ng-template pTemplate="item" let-item>
      <a
        [routerLink]="item?.['path']"
        pRipple
        class="flex align-items-center p-menuitem-link"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>

    <!-- Right Side -->
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center align-items-center gap-3">

        <!-- Cart -->
        <a [routerLink]="['/cart']">
          <i
            class="pi pi-shopping-cart text-3xl"
            pBadge
            [value]="cartCount"
          ></i>
        </a>

        <!-- User -->
        <div class="user-wrapper relative">

          <div
            (click)="logOut = !logOut"
            class="user-name p-3 text-white font-bold capitalize cursor-pointer"
          >
            <span>{{ username }}</span>
          </div>

          @if (logOut) {
            <button
              type="button"
              (click)="logout()"
              class="logout py-2 px-5 text-white font-bold flex align-items-center gap-3"
            >
              <span>Logout</span>
              <span class="pi pi-sign-out"></span>
            </button>
          }

        </div>

      </div>
    </ng-template>

  </p-menubar>
</div>
